body{
  font-family: jose-sans, sans-serif;
  font-size: 16px;
  display: flex;
  padding: 0;
  margin: 0;
}

.coming{
  font-size: 60px;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}

.image{
  height: 100vh;
}

.div-kiri{
  padding: 40px 120px 180px;
}

.logo{
  margin-bottom: 40px;
}

.we\'re{
  font-size: 60px;
  letter-spacing: 10px;
  font-weight: lighter;
  margin-bottom: 0;
  color: hsl(0, 36%, 70%);
}

.text{
  margin-top: 0;
  color: hsl(0, 36%, 70%);
  padding-right: 200px;

}